* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/manyou.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.drum-items {
  display: flex;
}

.key {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  justify-content: center;
  width: 3.5em;
  height: 3em;
  background-color: rgba(23, 23, 23, 0.8);
  border: solid 3px black;
  border-radius: 3px;
  transition: all 0.08s;
}

.make-noise {
  transform: scale(1.2);
  border: solid 2px rgba(255, 69, 0, 0.9);
  box-shadow: 0 0 10px orangered;
}

.letter {
  color: #fff;
  font-size: 120%;
}

.drum-name {
  color: orangered;
  font-size: 40%;
}
